<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Cart'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container mx-auto">
      <h1 class="text-3xl font-bold text-center">Cart</h1>
    </main>
  </body>
</html>
