<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title:'Home'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container mx-auto">
      <% if (locals.user) { %>
        <p class="font-bold text-2xl text-center my-4">Welcome 
          <%= user %> 
        </p>
      <% } %>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
        voluptatibus eaque tempore alias soluta eveniet quidem necessitatibus
        veniam ipsum numquam quia inventore harum ratione adipisci cupiditate
        magnam perferendis maxime repellat, pariatur placeat error nostrum?
        Deserunt obcaecati libero veritatis rerum delectus.
      </p>
    </main>
  </body>
</html>
