<div class="bg-teal-500 sticky right-0 left-0 top-0 mb-6 text-white">
  <header class="flex justify-between container mx-auto py-8">
    <a href="/home">
      <p class="text-3xl font-medium">Mockaroo</p>
    </a>
    <nav class="flex gap-4 tracking-wider">
      <a class="hover:-translate-y-[2px]" href="/">Home</a>
      <a class="hover:-translate-y-[2px]" href="/products">Products</a>
      <a class="hover:-translate-y-[2px]" href="/auth/login">Login</a>
      <a class="hover:-translate-y-[2px]" href="/cart">Cart</a>
    </nav>
  </header>
</div>
